.post__title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 2.5714285714rem;
  margin-top: 1.1111111111em;
  margin-bottom: 1.1111111111em;
}
.post img {
  margin-right: 1.4285714286em;
}

.btn {
  display: block;
  width: 200px;
  background-color: #1B2D55;
  color: #fff;
  padding: 1.4285714286em 2.8571428571em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5.7142857143em;
}

body {
  color: #1B2D55;
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7142857143;
  letter-spacing: 0.05;
}

.header {
  padding: 4.2857142857em 0;
}
.header__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 215px;
}
.header__menu {
  display: block;
}
@media screen and (min-width: 960px) {
  .header__menu {
    display: none;
  }
}

.nav {
  display: none;
  flex: 1;
}
.nav li {
  margin-left: 1.4285714286em;
}
.nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.nav .nav__about {
  margin-left: auto;
}
@media screen and (min-width: 960px) {
  .nav {
    display: block;
  }
}

.visual {
  background-color: #DEF6FF;
  padding-top: 10.7142857143em;
  padding-bottom: 4.2857142857em;
}
.visual__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background: url(../images/img_about.png) no-repeat center bottom;
  background-size: 100%;
  padding-bottom: 21.4285714286em;
}
@media screen and (min-width: 740px) {
  .visual {
    background-position: right bottom;
  }
}
.visual__title {
  margin-bottom: 1.6666666667em;
  text-align: left;
  font-size: 3.4285714286rem;
  font-weight: bold;
  line-height: 1.2083333333;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-bottom: 1.6666666667em;
}
.visual__text {
  letter-spacing: 1.0416666667;
  margin-bottom: 2.8571428571em;
}

.advantages {
  margin: 8.5714285714em 0;
}
.advantages__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.advantages__title {
  margin-bottom: 1.6666666667em;
  text-align: center;
  font-size: 3.4285714286rem;
  font-weight: bold;
  line-height: 1.2083333333;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.advantages__title::before {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF5DE;
  display: block;
  margin-bottom: 0.5208333333em;
}
.advantages__article {
  padding-bottom: 5.7142857143em;
  border-bottom: 1px solid #1B2D55;
}
.advantages__article:last-child {
  border-bottom: none;
}
.advantages img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5.7142857143em;
}
@media screen and (min-width: 740px) {
  .advantages {
    align-items: stretch;
  }
  .advantages__allarticle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }
  .advantages__article {
    width: 47.3684210526%;
    border-bottom: none;
    padding-bottom: 0;
  }
}

.features {
  background-color: #FFF5DE;
  padding: 8.5714285714em 0;
}
.features__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.features__title {
  margin-bottom: 1.6666666667em;
  text-align: center;
  font-size: 3.4285714286rem;
  font-weight: bold;
  line-height: 1.2083333333;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.features__title::before {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #DEF6FF;
  display: block;
  margin-bottom: 0.5208333333em;
}
.features__list .post__text {
  margin-bottom: 2.8571428571em;
}

.tag {
  margin-bottom: 4.2857142857em;
}
.tag__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.tag__item {
  padding: 1.0714285714em 2.1428571429em;
  background-color: #fff;
  border-radius: 50px;
  margin-right: 1.4285714286em;
}

.tag::before {
  content: "";
  display: block;
  width: 60px;
  border-bottom: 1px solid #1B2D55;
  margin-bottom: 4.2857142857em;
}

.footer {
  padding: 7.5em 0 12.5em;
  background-color: #E8EDF1;
  text-align: center;
}
.footer__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.footer__list {
  margin-bottom: 4.2857142857em;
}
.footer__list dl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  width: 27.5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.0714285714em;
}
.footer__list dd {
  text-align: left;
  width: 20.3571428571em;
}
.footer small {
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */